<style>
  @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
  </style>

<div class="container-fluid h-100" style="height:100%; font-family: 'Epilogue', sans-serif; text-align:center;">

  <div class="row h-100" style="background-color: white; min-height: 100%;">

    <div class="col-4 h-100" style="background-color: #312f2f; min-height: 100vh; padding:5%;">

      <div class ="row">
        <div class="col"><h1 style="color:#EF626C"><b>Jorden Jolley</b></h1>></div>
      </div>

      <div class ="row">
        <div class="col"><p style="color:#f6e8ea">langsam lang bla bla bla </p></div>
      </div>

      <div class ="row">
        <div class="col"><p style="color:#9e9495">Test next color baby</p></div>
      </div>

      <div class ="row">
        <div class="col"><p style="color:#84dccf">
          <mat-icon aria-label="Example home icon">email</mat-icon>
          <mat-icon aria-label="Example home icon">sentiment_dissatisfied</mat-icon>
          <mat-icon aria-label="Example home icon">sentiment_neutral</mat-icon>
          <mat-icon aria-label="Example home icon">sentiment_satisfied</mat-icon>
          <mat-icon aria-label="Example home icon">sentiment_very_satisfied</mat-icon>
</p></div>
      </div>

      <div class ="row">
        <div class="col">test5</div>
      </div>

    </div>
    <div class="col-8 h-100" style="background-color: #22181c; min-height: 100vh;">
      XXXX
    </div>
  </div>
</div>